[submodule "vendor/slang-shaders"]
	path = vendor/slang-shaders
	url = https://github.com/libretro/slang-shaders
	shallow = true
[submodule "roms/gba/automated_tests/gba-tests"]
	path = roms/gba/automated_tests/gba-tests
	url = https://github.com/jsmolka/gba-tests.git
[submodule "roms/gb/automated_tests/mealybug-tearoom-tests"]
	path = roms/gb/automated_tests/mealybug-tearoom-tests
	url = https://github.com/mattcurrie/mealybug-tearoom-tests
[submodule "roms/gba/automated_tests/FuzzARM"]
	path = roms/gba/automated_tests/FuzzARM
	url = https://github.com/DenSinH/FuzzARM.git
